.pokemon-head {
    text-align: center;
  }
  
  .pokemon-details {
    font-family: 'PokemonSolid';
    text-transform: capitalize;
    letter-spacing: 4px;
    text-align: center;
  }
  
  .image-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }
  
  .main-image,
  .shiny-image {
    width: 25%;
    height: auto;
  }
  
  .pokemon-info {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  .pokemon-info td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .pokemon-info td:first-child {
    font-weight: bold;
  }
  
  .pokemon-stats {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .stat-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .stat-name {
    margin-right: 10px;
    width: 25%; /* Ancho del contenedor del nombre de la stat */
  }
  
  .stat-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .stat-bar {
    background-color: #4CAF50;
    height: 20px;
  }
  
  .stat-value {
    margin-left: 10px;
    width: 30px; /* Ancho del contenedor del valor de la stat */
  }
  

