<div class="pokemon-head">
  <h1><img src="../../assets/images/pokedex.png" alt="Pokédex"></h1>
</div>
<body style="background-image: url(../../assets/images/{{pokemonDetails.Types}}.png);">

<div class="container">
  <div class="image-grid">
    <img class="main-image" [src]="pokemonDetails?.sprites?.other['official-artwork']?.front_default" alt="Imagen principal">
    <img class="shiny-image" [src]="pokemonDetails?.sprites?.other['official-artwork']?.front_shiny" alt="Imagen shiny">
  </div>

  <div class="pokemon-details">
    <h2>{{ pokemonDetails.name }}</h2>

    <div class="type-images-container">
      <ng-container *ngFor="let type of pokemonTypes">
        <img [src]="typeImageMappings[type]" alt="{{ type }}" class="type-image">
      </ng-container>
    </div>

    <div class="pokemon-description">
      <p>{{ pokemonDescription }}</p>
    </div>

    <div class="pokemon-info">
      <table class="pokemon-table">
        <tr>
          <td>ID:</td>
          <td>{{ pokemonDetails.id | number: '3.0-0' }}</td>
        </tr>
        <tr>
          <td>Altura:</td>
          <td>{{ pokemonDetails.height / 10 | number: '0.1-2' }} m</td>
        </tr>
        <tr>
          <td>Peso:</td>
          <td>{{ pokemonDetails.weight / 10 | number: '0.1-2' }} kg</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<h3>Stats:</h3>
<ul class="pokemon-stats">
  <li *ngFor="let stat of pokemonDetails?.stats">
    <div class="stat-container">
      <div class="stat-name">{{ stat.stat.name }}:</div>
      <div class="stat-bar-container">
        <div class="stat-bar" [style.width]="getStatWidthPercentage(stat.base_stat)"></div>
        <div class="stat-value">{{ stat.base_stat }}</div>
      </div>
    </div>
  </li>
</ul>

</body>
