<div class="pokemon-head">
  <a href="/">
    <h1><img src="../../assets/images/pokedex.png" alt="Pokédex"></h1>
  </a>
</div>
<body>
<div class="container">
  <div class="image-grid">
    <img class="main-image" [src]="pokemonDetails?.sprites?.other['official-artwork']?.front_default" alt="Imagen principal">
    <img class="shiny-image" [src]="pokemonDetails?.sprites?.other['official-artwork']?.front_shiny" alt="Imagen shiny">
  </div>

  <div class="pokemon-details">
    <h1>{{ pokemonDetails.name }}</h1>
    <div class="sprite-grid"> 
    <img class="main-sprite" [src]="pokemonDetails?.sprites?.versions['generation-v']['black-white'].animated.front_default
    " alt="sprite">
    <img class="shiny-sprite" [src]="pokemonDetails?.sprites?.versions['generation-v']['black-white'].animated.front_shiny
    " alt="shinysprite">
  </div>

    <div class="type-images-container">
      <ng-container *ngFor="let type of pokemonTypes">
        <img [src]="typeImageMappings[type]" alt="{{ type }}" class="type-image">
      </ng-container>
    </div>
    <div class="pokemon-info">
      <table class="pokemon-table">
        <tr>
          <td>ID:</td>
          <td>{{ pokemonDetails.id | number: '3.0-0' }}</td>
        </tr>
        <tr>
          <td>Altura:</td>
          <td>{{ pokemonDetails.height / 10 | number: '0.1-2' }} m</td>
        </tr>
        <tr>
          <td>Peso:</td>
          <td>{{ pokemonDetails.weight / 10 | number: '0.1-2' }} kg</td>
        </tr>
      </table>
    </div>
    <div class="pokemon-description">
      <p>{{ pokemonDescription }}</p>
    </div>
  </div>
</div>
<ul class="pokemon-stats">
  <h3>Stats</h3>
  <li *ngFor="let stat of pokemonDetails?.stats" [ngClass]="getColorBarra(stat.base_stat)">
    <div class="stat-container">
      <div class="stat-name">{{ stat.stat.name }}:</div>
      <div class="stat-bar-container">
        <div class="stat-bar" [style.width]="getStatWidthPercentage(stat.base_stat)"></div>
        <div class="stat-value">{{ stat.base_stat }}</div>
      </div>
    </div>
  </li>
</ul>
<div *ngIf="typeEffectiveness">
  <h3>Debilidades y resistencias</h3>
  <table border="0">
    <tr>
      <th>x2</th>
      <th>x0.5</th>
      <th>x0</th> 
    </tr>
    <tr *ngFor="let pokemonType of pokemonTypes">
      <td>
        <ul>
          <li *ngFor="let relation of typeEffectiveness[pokemonType].weaknesses">
            <img [src]="typeImageMappings[relation]" alt="{{ relation }}" class="type-image">
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let relation of typeEffectiveness[pokemonType].resistances">
            <img [src]="typeImageMappings[relation]" alt="{{ relation }}" class="type-image">
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let relation of typeEffectiveness[pokemonType].noEffect">
            <img [src]="typeImageMappings[relation]" alt="{{ relation }}" class="type-image">
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="evolutionChain">
  <h3>Cadena Evolutiva:</h3>
  <div class="evolution-line">
    <div class="evolution-column">
      <div class="evolution-item">
        <a [routerLink]="['/pokemon', getPokemonId(evolutionChain.chain.species.name)]" href="#">
        <img [src]="getPokemonImage(evolutionChain.chain.species.name)" alt="{{ evolutionChain.chain.species.name }}">
        <span class="firstevo-text">{{ evolutionChain.chain.species.name }}</span>
        </a>
      </div>
    </div>

    <div class="evolution-column">
      <ng-container *ngFor="let intermediateEvolution of evolutionChain.chain.evolves_to">
        <div class="evolution-item">
          <span class="evolution-trigger">{{ getEvolutionTrigger(intermediateEvolution) }} {{ getEvolutionLevel(intermediateEvolution) }} {{ getEvolutionItem(intermediateEvolution) }} {{ getEvolutionHappiness(intermediateEvolution) }} {{ getEvolutionLocation(intermediateEvolution) }} {{ getEvolutionKnownMoveType(intermediateEvolution) }} {{ getEvolutionKnownMove(intermediateEvolution) }} {{ getEvolutionHeldItem(intermediateEvolution) }} {{ getEvolutionGender(intermediateEvolution) }} {{ getEvolutionBeauty(intermediateEvolution) }} {{ getEvolutionStats(intermediateEvolution) }} </span>
          <a [routerLink]="['/pokemon', getPokemonId(intermediateEvolution.species.name)]">
          <img [src]="getPokemonImage(intermediateEvolution.species.name)" alt="{{ intermediateEvolution.species.name }}">
          <span class="intermediateevo-text">{{ intermediateEvolution.species.name }}</span>
          </a>
        </div>
      </ng-container>
    </div>

    <div class="evolution-column">
      <ng-container *ngFor="let intermediateEvolution of evolutionChain.chain.evolves_to">
        <ng-container *ngIf="intermediateEvolution.evolves_to && intermediateEvolution.evolves_to.length > 0">
          <ng-container *ngFor="let finalEvolution of intermediateEvolution.evolves_to">
            <div class="evolution-item">
              <span class="evolution-trigger">{{ getEvolutionTrigger(finalEvolution) }} {{ getEvolutionLevel(finalEvolution) }} {{ getEvolutionItem(finalEvolution) }} {{ getEvolutionHappiness(finalEvolution) }} {{ getEvolutionLocation(finalEvolution) }} {{ getEvolutionKnownMoveType(finalEvolution) }} {{ getEvolutionKnownMove(finalEvolution) }} {{ getEvolutionHeldItem(finalEvolution) }} {{ getEvolutionGender(finalEvolution) }} {{ getEvolutionBeauty(finalEvolution) }} {{ getEvolutionStats(finalEvolution) }} </span>
              <a [routerLink]="['/pokemon', getPokemonId(finalEvolution.species.name)]">
              <img [src]="getPokemonImage(finalEvolution.species.name)" alt="{{ finalEvolution.species.name }}">
              <span class="finalevo-text">{{ finalEvolution.species.name }}</span>
              </a>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
</body>
