.pokemon-head {
  text-align: center;
}
.search{
text-align: center;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pokemon-card {
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-image: url(../../assets/images/pokedex_fondo.jpg);
    background-size: cover;
    border-radius: 10px;
  }
  
  .pokemon-card img {
    width: 250px;
    height: 250px;
  }
  
  .pokemon-name {
    margin-top: 5px;
    font-family: 'PokemonSolid';
    color: yellow;
    -webkit-text-stroke:1px black;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .pokemon-id {
    margin-top: 1px;
    font-family: 'PokemonSolid';
    color: black;
    letter-spacing: 2px;
  }

  .boton-normal {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #A8A77A;
    border-radius: 20px;
  }
  
  .boton-fire {
    text-decoration: none;
    font-weight: 600;
<<<<<<< HEAD
    font-size: 16px; 
    color: #ffffff;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 20px; 
    padding-right: 20px; 
    background-color: #ff0000; 
  }

  .boton-water {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px; 
    color: #ffffff;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 20px; 
    padding-right: 20px; 
    background-color: blue; 
  }

  .boton-grass {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px; 
    color: #ffffff;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 20px; 
    padding-right: 20px; 
    background-color: green; 
  }

  .boton-bug {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px; 
    color: #ffffff;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 20px; 
    padding-right: 20px; 
    background-color: greenyellow; 
=======
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #EE8130;
    border-radius: 20px;
>>>>>>> f4533514375c85b5c191f60c0f0b55bec6ecfdb4
  }
  
  .boton-water {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #6390F0;
    border-radius: 20px;
  }
  
  .boton-electric {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #F7D02C;
    border-radius: 20px;
  }
  
  .boton-grass {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #7AC74C;
    border-radius: 20px;
  }
  
  .boton-ice {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #96D9D6;
    border-radius: 20px;
  }
  
  .boton-fighting {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #C22E28;
    border-radius: 20px;
  }
  
  .boton-poison {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #A33EA1;
    border-radius: 20px;
  }
  
  .boton-ground {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #E2BF65;
    border-radius: 20px;
  }
  
  .boton-flying {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #A98FF3;
    border-radius: 20px;
  }
  
  .boton-psychic {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #F95587;
    border-radius: 20px;
  }
  
  .boton-bug {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #A6B91A;
    border-radius: 20px;
  }
  
  .boton-rock {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #B6A136;
    border-radius: 20px;
  }
  
  .boton-ghost {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #735797;
    border-radius: 20px;
  }
  
  .boton-dragon {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #6F35FC;
    border-radius: 20px;
  }
  
  .boton-dark {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #705746;
    border-radius: 20px;
  }
  
  .boton-steel {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #B7B7CE;
    border-radius: 20px;
  }
  
  .boton-fairy {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #D685AD;
    border-radius: 20px;
  }
  .boton-generation {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #700000;
    border-radius: 20px;
  }
  

  .container {
    position: relative;
  }

  .search{
    width: 350px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
  }

  .boton-normal:active,
.boton-fire:active,
.boton-water:active,
.boton-grass:active,
.boton-bug:active,
.boton-dragon:active,
.boton-electric:active,
.boton-fairy:active,
.boton-ground:active,
.boton-rock:active,
.boton-steel:active,
.boton-ice:active,
.boton-flying:active,
.boton-dark:active,
.boton-ghost:active,
.boton-fighting:active,
.boton-poison:active,
.boton-psychic:active,
.boton-generation:active {
  border-width: 2px;
}
