<audio autoplay class="Audio">
  <source [src]="Audio" type="audio/mpeg">
</audio>
<body [style.background-color]="fondoNegro ? 'rgb(31,30,30)' : (fondoBlanco ? 'white' : 'transparent')"
[style.color]="fondoNegro ? 'white': 'black'">
<button (click)="activarFondoNegro()">
  <img src="assets/images/luxuryball.png" style="width: 20px; height: 20px;">
</button>
<button (click)="activarFondoBlanco()">
  <img src="assets/images/honorball.png" style="width: 20px; height: 20px;">

<div class="pokemon-head"> <h1><img src="assets/images/pokedex.png" alt="Pokédex"></h1> </div>
<div class="container">
  <input class="search" type="text" placeholder="Buscar Pokémon..." [(ngModel)]="searchTerm" (input)="onSearch()" style="display: flex;">
  <br>
  <br>
  <input type="button" (click)="filterByType('normal')"class="boton-normal" value="Normal">
  <input type="button" (click)="filterByType('fire')" class="boton-fire" value="Fuego">
  <input type="button" (click)="filterByType('water')" class="boton-water" value="Agua">
  <input type="button" (click)="filterByType('grass')" class="boton-grass" value="Planta">
  <input type="button" (click)="filterByType('bug')" class="boton-bug" value="Bicho">
  <input type="button" (click)="filterByType('dragon')" class="boton-dragon" value="Dragon">
  <input type="button" (click)="filterByType('electric')" class="boton-electric" value="Eléctrico">
  <input type="button" (click)="filterByType('fairy')" class="boton-fairy"  value="Hada">
  <input type="button" (click)="filterByType('ground')" class="boton-ground" value="Tierra">
  <input type="button" (click)="filterByType('rock')" class="boton-rock" value="Roca">
  <input type="button" (click)="filterByType('steel')" class="boton-steel" value="Acero">
  <input type="button" (click)="filterByType('ice')" class="boton-ice" value="Hielo">
  <input type="button" (click)="filterByType('flying')" class="boton-flying" value="Volador">
  <input type="button" (click)="filterByType('dark')" class="boton-dark" value="Siniestro">
  <input type="button" (click)="filterByType('ghost')" class="boton-ghost" value="Fantasma">
  <input type="button" (click)="filterByType('fighting')" class="boton-fighting" value="Lucha">
  <input type="button" (click)="filterByType('poison')" class="boton-poison" value="Veneno">
  <input type="button" (click)="filterByType('psychic')" class="boton-psychic" value="Psíquico">
  <input type="button" (click)="filterByGeneration(1)"class="boton-generation" value="Gen 1">
  <input type="button" (click)="filterByGeneration(2)"class="boton-generation" value="Gen 2">
  <input type="button" (click)="filterByGeneration(3)"class="boton-generation" value="Gen 3">
  <input type="button" (click)="filterByGeneration(4)"class="boton-generation" value="Gen 4">
</div>

<div class="pokemon-grid">
  <div *ngFor="let pokemon of filteredPokemonList" class="pokemon-card" (click)="navigateToDetail(pokemon)">
    <a [routerLink]="['/pokemon', getPokemonId(pokemon.url)]">
      <img [src]="getPokemonImageUrl(pokemon.url)" alt="{{ pokemon.name }}">
      <div class="pokemon-id">Nº:{{ getPokemonId(pokemon.url) | number: '3.0-0' }}</div>
      <div class="pokemon-name">{{ pokemon.name }}</div>
      <div class="pokemon-types">
        <ng-container *ngFor="let type of pokemon.types">
          <img [src]="typeImageMappings[type]" alt="{{ type }}" style="width: 70px; height: 20px;">
        </ng-container>
      </div>
    </a>
  </div>
</div>
</body>


  
