.pokemon-head {
  text-align: center;
}
.search {
  margin: 0 auto;
  text-align: center;
  background-image: url(../../assets/images/lupa.png);
  background-size: 10%;
  background-repeat: no-repeat;
  width: 350px;
  padding: 10px;
  padding-right: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  transition: all 0.3s ease; 
}
.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pokemon-card {
    margin: 10px;
    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
    background-image: url(../../assets/images/pokedex_fondo.jpg);
    background-size: cover;
    border-radius: 10px;
  }
  
  .pokemon-card img {
    width: 250px;
    height: 250px;
  }
  
  .pokemon-name {
    margin-top: 5px;
    font-family: 'PokemonSolid';
    color: yellow;
    -webkit-text-stroke:1px black;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .pokemon-id {
    margin-top: 1px;
    font-family: 'PokemonSolid';
    color: black;
    letter-spacing: 2px;
  }

  .boton-normal {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #A8A77A;
    border-radius: 20px;
  }

  .boton-normal:hover {
    background-color: rgb(172, 128, 57);
  }

  .boton-normal:active {
    transform: scale(0.9);
    background-color: rgb(172, 128, 57);
  }
  
  .boton-fire {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #EE8130;
    border-radius: 20px;
  }
  
  .boton-fire:hover {
    background-color: rgb(172, 88, 57);
  }

  .boton-fire:active {
    transform: scale(0.9);
    background-color: rgb(172, 88, 57);
  }

  .boton-water {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #6390F0;
    border-radius: 20px;
  }

  .boton-water:hover {
    background-color: rgb(24, 27, 227);
  }

  .boton-water:active {
    transform: scale(0.9);
    background-color: rgb(24, 27, 227);
  }
  
  .boton-electric {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color:rgb(248, 223, 33); 
    border-radius: 20px;
  }
  
  .boton-electric:hover {
    background-color: #F7D02C;
  }

  .boton-electric:active {
    transform: scale(0.9);
  }

  .boton-grass {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #7AC74C;
    border-radius: 20px;
  }

  .boton-grass:hover {
    background-color: rgb(32, 172, 16);
  }

  .boton-grass:active {
    transform: scale(0.9);
  }
  
  .boton-ice {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #96D9D6;
    border-radius: 20px;
  }
  
  .boton-ice:hover {
    background-color: rgb(40, 238, 248);
  }

  .boton-ice:active {
    transform: scale(0.9);
  }

  .boton-fighting {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #C22E28;
    border-radius: 20px;
  }

  .boton-fighting:hover {
    background-color: rgb(157, 21, 21);
  }

  .boton-fighting:active {
    transform: scale(0.9);
  }
  
  .boton-poison {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #A33EA1;
    border-radius: 20px;
  }

  .boton-poison:hover {
    background-color: rgb(147, 12, 138);
  }

  .boton-poison:active {
    transform: scale(0.9);
  }

  .boton-ground {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #E2BF65;
    border-radius: 20px;
  }

  .boton-ground:hover {
    background-color: rgb(185, 145, 25);
  }

  .boton-ground:active {
    transform: scale(0.9);
  }

  .boton-flying {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #A98FF3;
    border-radius: 20px;
  }
  
  .boton-flying:hover {
    background-color: rgb(145, 58, 245);
  }

  .boton-flying:active {
    transform: scale(0.9);
  }

  .boton-psychic {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #F95587;
    border-radius: 20px;
  }
  
  .boton-psychic:hover {
    background-color: rgb(234, 25, 105);
  }

  .boton-psychic:active {
    transform: scale(0.9);
  }

  .boton-bug {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #A6B91A;
    border-radius: 20px;
  }
  
  .boton-bug:hover {
    background-color: rgb(127, 161, 13);
  }

  .boton-bug:active {
    transform: scale(0.9);
  }

  .boton-rock {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #B6A136;
    border-radius: 20px;
  }

  .boton-rock:hover {
    background-color: rgb(154, 112, 35);
  }

  .boton-rock:active {
    transform: scale(0.9);
  }
  
  .boton-ghost {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #735797;
    border-radius: 20px;
  }
  
  .boton-ghost:hover {
    background-color: rgb(91, 44, 114);
  }

  .boton-ghost:active {
    transform: scale(0.9);
  }
  
  .boton-dragon {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #6F35FC;
    border-radius: 20px;
  }

  .boton-dragon:hover {
    background-color: rgb(73, 30, 172);
  }

  .boton-dragon:active {
    transform: scale(0.9);
  }
  
  .boton-dark {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #705746;
    border-radius: 20px;
  }

  .boton-rock:hover {
    background-color: rgb(154, 112, 35);
  }

  .boton-rock:active {
    transform: scale(0.9);
  }
  
  
  .boton-steel {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #B7B7CE;
    border-radius: 20px;
  }
  
  .boton-steel:hover {
    background-color: rgb(138, 130, 150);
  }

  .boton-steel:active {
    transform: scale(0.9);
  }
  
  .boton-fairy {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #D685AD;
    border-radius: 20px;
  }

  .boton-fairy:hover {
    background-color: rgb(181, 108, 142);
  }

  .boton-fairy:active {
    transform: scale(0.9);
  }
  
  .boton-generation {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #9d0202;
    border-radius: 20px;
  }
  
  .boton-generation:hover {
    background-color: rgb(114, 1, 1);
  }

  .boton-generation:active {
    transform: scale(0.9);
  }
  
  .container {
    position: relative;
  }

  
  .search:hover {
    color: #666;

  }
  
  .search:focus::before {
    color: #4c89af;
  }

  .search:focus {
    border-color: rgba(250, 254, 2, 0.993); 
    box-shadow: 0 0 5px rgb(8, 82, 255);
    transform: scale(1.05); 
  }
  
  .search::placeholder {
    color: #696868; 
    transition: color 0.3s ease, transform 0.3s ease; 
  }
  
  
  .search:hover::placeholder {
    color: #323232; 
    transform: translateX(3px); 
  }

.pokemon-card {
  transition: transform 0.3s ease; 
}

.pokemon-card:hover {
  transform: scale(1.05); 
}


.pokemon-card img {
  transition: transform 0.3s ease; 
}


.pokemon-card:hover img {
  transform: scale(1.1); 
}


  .boton-normal:active,
.boton-fire:active,
.boton-water:active,
.boton-grass:active,
.boton-bug:active,
.boton-dragon:active,
.boton-electric:active,
.boton-fairy:active,
.boton-ground:active,
.boton-rock:active,
.boton-steel:active,
.boton-ice:active,
.boton-flying:active,
.boton-dark:active,
.boton-ghost:active,
.boton-fighting:active,
.boton-poison:active,
.boton-psychic:active,
.boton-generation:active {
  border-width: 2px;
}
